{% extends "portal/base.html" %}
{% load static %}

{% block title %}
	{% if category %}{{ category.name }}{% else %}Movies{% endif %}
{% endblock %}

{% block content %}
	<div class="movie-detail">
		<img src="{% if movie.image %}{{ movie.image.url }}{% else %}
	{% static "img/no_image.png" %}{% endif %}">
		<h1>{{ movie.title }}</h1>
		<h2><a href="{{ movie.category.get_absolute_url }}">{{ movie.category }}</a></h2>

		{{ movie.year|linebreaks }}

		<h1>Director</h1>

		{{ movie.director|linebreaks }}

		<h1>Cast</h1>

		{{ movie.cast|linebreaks }}

		<h1>Language</h1>

		{{ movie.language|linebreaks }}

		<h1>Description</h1>

		{{ movie.description|linebreaks }}

		<h1>Plot</h1>

		{{ movie.plot|linebreaks }}

	</div>
{% endblock %}











